vulnerability-rules.ignore-age-for-security-fixes: true

# Forzar a que TODO lo público se busque en el npm oficial
registry=https://registry.npmjs.org/

# SÓLO tus paquetes privados de tu organización deben ir a GitHub.
@jesusMartinez88:registry=https://npm.pkg.github.com/

# Autenticación requerida para GitHub
//npm.pkg.github.com/:_authToken=${NODE_AUTH_TOKEN}
