<div class="settings-container">
    <header class="settings-header">
        <h1>Configuración de la App</h1>
        <p>Ajusta parámetros de la aplicación</p>
    </header>

    <div class="setting-item">
        <label for="maxGuests">Capacidad inicial de mesas</label>
        <input type="number" id="maxGuests" [ngModel]="maxGuests()" (ngModelChange)="updateMaxGuests($event)" min="1"
            max="20" />
    </div>

    <div class="setting-item">
        <label for="totalEstimatedGuests">Estimación total de invitados</label>
        <input type="number" id="totalEstimatedGuests" [ngModel]="totalEstimatedGuests()"
            (ngModelChange)="updateTotalEstimatedGuests($event)" min="0" />
    </div>

    <!-- más opciones vendrán aquí -->
</div>