<header class="tables-header">
  <div class="title-group">
    <h2>Gestión de Mesas</h2>
    <p>Organiza a los invitados y personaliza tus mesas</p>
    <span class="tables-count">{{ totalTables() }} mesas creadas</span>
  </div>

  <div class="header-actions">
    <ng-content />

    <!-- <button class="btn-toggle-layout" [class.active]="isEditMode" (click)="onToggleEditMode()">
            <span class="icon">{{ isEditMode ? '💾' : '📐' }}</span>
            {{ isEditMode ? 'Guardar Diseño' : 'Editar Diseño' }}
        </button> -->

    <button class="btn-add-table" (click)="onAddTable()">
      <span class="icon">➕</span> Nueva Mesa
    </button>
  </div>
</header>
