<header class="tables-header">
  <div class="title-group">
    <h2>Gestión de Mesas</h2>
    <p>Organiza a los invitados y personaliza tus mesas</p>
    <span class="tables-count">
      {{ totalTables() }} mesas creadas
      @if (enableHighchairs() && totalHighchairs() > 0) {
        | 🍼 {{ totalHighchairs() }} tronas
      }
    </span>
  </div>

  <div class="header-actions">
    <ng-content />

    <button class="btn-toggle-layout" title="Click para alternar el modo de edición"
    [class.active]="isEditMode()"
    (click)="onToggleEditMode()">
            <span class="icon">{{ isEditMode() ? '🚫' : '🖐️'  }}</span>
            {{ isEditMode() ? 'No mover mesas' : 'Mover mesas' }}
        </button>

    <button class="btn-print" (click)="onPrintList()">
      <span class="icon">🖨️</span> Imprimir Listado
    </button>

    <button class="btn-add-table" (click)="onAddTable()">
      <span class="icon">➕</span> Nueva Mesa
    </button>
  </div>
</header>
